{
  "ConnectionStrings": {
    "Default": "Host=localhost;Port=5432;Database=PaymentHubDb;Username=postgres;Password=postgres"
  },
  "PaymentPageUrl": "http://localhost:3000",
  "Kms": {
    "AesKey": "YOUR_AES_KEY_32_CHARS_EXACTLY!!",
    "AesIv": "YOUR_AES_IV_16CH"
  },
  "Logging": {
    "LogLevel": {
      "Default": "Information",
      "Microsoft": "Warning",
      "Microsoft.EntityFrameworkCore": "Warning"
    }
  },
  "AllowedHosts": "*"
}
